/* header component start */
.header img {
  height: 80px;
}
.header {
  text-align: center;
}
.header nav {
  background-color: black;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}
.header nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px;
}
.header nav a:hover {
  background-color: gray;
}

/* header component end */
/* Shop component start */
.shopContainer {
  display: flex;
}
.productContainer {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px solid lightgray;
}
/* Shop component end */
/* Product component start */
.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 12px;
}
.productName {
  color: blue;
  font-weight: 400;
}
.productbtn {
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.cart {
  font-size: 12px;
}

/* Product component end */
